body{
   padding: 0;
   margin: 0; 
   box-sizing: border-box;   
}
.navbar{
    background-color: #101b37;
    color: #ffffff; 
    height:10vh;  
}
.nav-item {
    display:inline;
    font-size: 24px;
    padding: 14px 16px;
    cursor: pointer;
}
.to_do_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    border-bottom: 1px solid #0000;
    font-size: 24px;
    border-bottom: #101b37 1px solid;
}
input[type=checkbox]{
    margin-right: 10px;
}
