body{
   padding: 0;
   margin: 0; 
   box-sizing: border-box;   
}
.navbar{
    background-color: #101b37;
    color: #ffffff; 
    height:15vh;
     display: flex; 
     justify-content: space-around;
}
.nav-item {
    font-size: 30px;
    padding: 14px 16px;
    cursor: pointer;
}
.btn{
    font-size: 24px;
    height: 8vh;
    width:20%;
    border:navy;
    border-radius: 5px;
    margin-top: 25px;
    
    
    
}
.to_do_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    font-size: 24px;
    border-bottom: #101b37 1px solid;
}
input[type=checkbox]{
    margin-right: 10px;
}
